@model IEnumerable<CarRentManagement.Models.Car>

<h1 class="text-primary">Check below car for rent</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var cars in Model)
    {
        var carImagePath = "~/Images/CarImage" + "/" + (cars.CarImageUrl ?? "noimage.jpg");
        <div class="col-md-4">
            <div class="card m-3">
                <div class="card-header">
                    <h3>@cars.CarName</h3>
                </div>
                <img class="card-img-top" src="@carImagePath" asp-append-version="true" />
                <h4 class="text-center">Hourly Rent:<b>@cars.HourlyRent</b></h4>
                <h4 class="text-center">Car Number:<b>@cars.CarNumber</b></h4>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@cars.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@cars.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@cars.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
